server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/branch-db

logging:
  level:
    root: INFO
    com.banquito.core.branch: DEBUG 

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  api-docs:
    path: /api-docs